<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../05/styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Vue Course Goals</h1>
  </header>
  <section id="user-goals">
    <h2>My course goals</h2>
    <input type="text" v-model="enteredGoalValue" />
    <button @click="addGoal">Add Goal</button>
    <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>
    <ul v-else>
      <!-- as best practice always use key to uniquely identify the elements with v-for -->
      <li v-for="(goal, index) in goals" :key="goal" @click="removeGoal(index)">
        <!-- Consider inside paragraph -->
        <p>{{ index + 1}} - {{ goal }}</p>
        <!-- if we have input the click will remove it. To prevent it, we use stop modifier-->
        <input type="text" @click.stop>
      </li>
    </ul>
  </section>
</body>

</html>